.Qr-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Qr-box {
  background: #fff;
  width: 100%;
  position: relative;
  max-width: 380px;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.export-btn {
  background-color: #303bff;
  border: none;
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  /* color: #303bff; */
  font-size: 1.5rem;
  cursor: pointer;
}
